<button class="btn btn-primary" (click)="showSuccess()">Show toast</button>

<ejs-grid [dataSource]='data' allowPaging='true' [pageSettings]='pageSettings' [allowSorting]='true' [allowFiltering]='true' [filterSettings]='filterSettings'
     >
    <e-columns>
        <e-column field='seller_id' headerText='Seller ID' width='120' textAlign='Right' isPrimaryKey='true' [validationRules]='orderidrules'></e-column>
        <e-column field='seller_name' headerText='Seller Name' width='150' [validationRules]='customeridrules'></e-column>
        <e-column field='created_at' headerText='Created Date' width='130' format="yMd" textAlign='Right' editType='datepickeredit'></e-column>
    </e-columns>
</ejs-grid>