<!--begin::Menu-->
<div class="menu menu-column menu-rounded menu-sub-indention fw-semibold fs-6" data-kt-menu="true" data-kt-menu-expand="false">
    <div class="menu-item">
      <a class="btn btn-flex flex-center btn-custom btn-primary overflow-hidden text-nowrap px-0 h-40px w-100" routerLink="/settings" routerLinkActive="active">
        <span class="menu-icon">
          <i class="bi bi-gear fs-2"></i>
        </span> &nbsp;
        <span class="menu-title">Settings</span>
      </a>
    </div>
     
    
</div>
<!--end::Menu-->