<h1>Orders</h1>

<div class="card mt-4">
    
    <div class="card-body">
        <div ngbAccordion>
            <div ngbAccordionItem>
              <h2 ngbAccordionHeader>
                <button class="fs-4 fw-semibold" ngbAccordionButton>Filter</button>
              </h2>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                  <ng-template>
                    <ejs-querybuilder #querybuilder  
                        [columns]="filterColumns"
                        [rule]="initRule"
                        style="border: none;"
                    >
                    </ejs-querybuilder>
                    
                    <div class="d-flex gap-2 ms-2 mb-2">
                        <button class="btn btn-primary" (click)="applyFilter()">
                            <i class="bi bi-search fs-3"></i> Filter
                        </button>
                        <button class="btn btn-secondary" (click)="clearFilter()">
                            <i class="bi bi-x fs-3"></i> Reset
                        </button>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
        </div>

        <div class="mt-4">
            <ejs-grid #grid [dataSource]="data" [query]="query" id="_order-list-004"
                allowPaging='true' [pageSettings]='{ pageSize: 20, pageSizes: [10, 20, 30] }' 
                [allowSorting]='true' [sortSettings]="{ columns: [{ field: 'order_id', direction: 'Descending' }] }"
                [allowFiltering]='false' 
                allowTextWrap='true'
                frozenColumns="1"
                >
                    <e-columns>
                        <e-column field='order_id' headerText='ID' textAlign='Right' width="100"></e-column>
                        <e-column field='store_name' headerText='Store' type="String" width="120"></e-column>
                        <e-column field='market_order_number' headerText='Ref. No.' width="150"></e-column>
                        <e-column field='item_title' headerText='Item' width="300">
                            <ng-template #template let-data>
                                <a [routerLink]="['/orders', data.order_id]" target="_blank">{{data.item_title}}</a>
                            </ng-template>
                        </e-column>
                        <e-column field='order_status' headerText='Status' [filter]="{operators: [{ value: 'equal', text: 'Equal' }]}" width="120">
                            <ng-template #template let-data>
                                <span class="badge" [class]="'status-' + data.order_status">
                                    {{data.order_status}}
                                </span>
                            </ng-template>
                            <ng-template #filterTemplate let-data>
                                <select class="form-select">
                                    <option value="">All</option>
                                    <option value="pending">pending</option>
                                    <option value="purchased">purchased</option>
                                    <option value="shipped">shipped</option>
                                    <option value="delivered">delivered</option>
                                    <option value="error">error</option>
                                    <option value="removed">removed</option>
                                    <option value="cancelled">cancelled</option>
                                    <option value="refunded">refunded</option>
                                </select>
                            </ng-template>
                        </e-column>
                        <e-column field='note' headerText='Note' type="String" width="80" minWidth="80">
                            <ng-template #template let-data>
                                @if (data.note) {
                                    <i class="bi bi-sticky fs-2 text-primary" 
                                    [ngbTooltip]="noteContainer"
                                    (mouseover)="showNote(data.note)"></i>
                                }
                            </ng-template>
                        </e-column>
                        <e-column field='sale_date' headerText='Sale Date' format="MM/dd/yyyy" width="120" ></e-column>
                        <e-column field='created_at' headerText='Created Date' format="MM/dd/yyyy HH:mm" width="120" ></e-column>
                        <e-column field='quantity' headerText='Quantity' textAlign='Right' width="150" ></e-column>
                        <e-column field='market_total_price' headerText='Total Price' textAlign='Right' width="120">
                            <ng-template #template let-data>
                                {{data.market_total_price | currency:currency}}
                            </ng-template>
                        </e-column>
                    </e-columns>
            </ejs-grid>
        </div>
        
    </div>
  </div>

  <ng-template #noteContainer>
    <div style="white-space: pre-line;">
        {{noteContent}}
    </div>
  </ng-template>