// another spinner that not cover header and sidebar
.blockui {
    .blockui-overlay {
        position: fixed;
    }
}

.card-header-small {
    min-height: 40px !important;
}

.status-pending {
    background-color: #F6C000;
    color: white;
}

.bg-pending {
    background-color: #F6C000 !important;
}

.text-pending {
    color: #F6C000 !important;
}

.status-processing {
    background-color: #61c9ff;
    color: white;
}

.bg-processing {
    background-color: #61c9ff !important;
}

.text-processing {
    color: #61c9ff !important;
}

.status-inprogress {
    background-color: #61c9ff;
    color: white;
}

.bg-inprogress {
    background-color: #61c9ff !important;
}

.text-inprogress {
    color: #61c9ff !important;
}

.status-purchased {
    background-color: #56fdff;
    color: white;
}

.bg-purchased {
    background-color: #56fdff !important;
}

.text-purchased {
    color: #56fdff !important;
}

.status-shipped {
    background-color: #2a53ff;
    color: white;
}

.bg-shipped {
    background-color: #2a53ff !important;
}

.text-shipped {
    color: #2a53ff !important;
}

.status-delivered {
    background-color: #00ff11;
    color: white;
}

.bg-delivered {
    background-color: #00ff11 !important;
}

.text-delivered {
    color: #00ff11 !important;
}

.status-cancelled {
    background-color: #7d7272;
    color: white;
}

.bg-cancelled {
    background-color: #7d7272 !important;
}

.text-cancelled {
    color: #7d7272 !important;
}

.status-error {
    background-color: #ff2323;
    color: white;
}

.bg-error {
    background-color: #ff2323 !important;
}

.text-error {
    color: #ff2323 !important;
}

.status-returned {
    background-color: #e654ff;
    color: white;
}

.bg-returned {
    background-color: #e654ff !important;
}

.text-returned {
    color: #e654ff !important;
}

.status-removed {
    background-color: #0f0f0f;
    color: white;
}

.bg-removed {
    background-color: #0f0f0f !important;
}

.text-removed {
    color: #0f0f0f !important;
}

.widget-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}