@if(!success) {
  <form class="form w-100" novalidate="novalidate" id="kt_login_signup_form" [formGroup]="registrationForm"
  (ngSubmit)="submit()">
  <!--begin::Heading-->
  <div class="text-center mb-11">
    <!--begin::Title-->
    <h1 class="text-gray-900 fw-bolder mb-3">
      Sign Up
    </h1>
    <!--end::Title-->

    <!--begin::Subtitle-->
    <!-- <div class="text-gray-500 fw-semibold fs-6">
      Your Social Campaigns
    </div> -->
    <!--end::Subtitle--->
  </div>
  <!--begin::Heading-->

  <!-- begin::Alert error-->
  <ng-container *ngIf="hasError">
    <div class="mb-lg-15 alert alert-danger">
      <div class="alert-text font-weight-bold">
        {{ errorMessage }}
      </div>
    </div>
  </ng-container>
  <!-- end::Alert error-->

  <div class="row mb-8">
    <div class="col-6">
      <label class="form-label fw-bolder text-gray-900 fs-6 required">UserName</label>
      <input class="form-control" type="text" placeholder="UserName" name="userName" formControlName="userName"
        autocomplete="off" [ngClass]="{
          'is-invalid': f['userName'].invalid && f['userName'].touched,
          'is-valid': f['userName'].valid && f['userName'].touched
        }" />
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'UserName is required',
          control: f['userName']
        }"></ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'minlength',
          message: 'UserName should have at least 3 symbols',
          control: f['userName']
        }"></ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'maxLength',
          message: 'UserName should have maximum 100 symbols',
          control: f['userName']
        }"></ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'invalidUsername',
          message: 'UserName should not contain spaces or special characters',
          control: f['userName']
        }"></ng-container>
    </div>

    <div class="col-6">
      <label class="form-label fw-bolder text-gray-900 fs-6 required">Full Name</label>
      <input class="form-control" type="text" name="fullname" formControlName="fullname"
        placeholder="Fullname" autocomplete="off" [ngClass]="{
          'is-invalid': f['fullname'].invalid && f['fullname'].touched,
          'is-valid': f['fullname'].valid && f['fullname'].touched
        }" />
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Fullname is required',
          control: f['fullname']
        }"></ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'minlength',
          message: 'Fullname should have at least 3 symbols',
          control: f['fullname']
        }"></ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'maxLength',
          message: 'Fullname should have maximum 100 symbols',
          control: f['fullname']
        }"></ng-container>
    </div>
  </div>

  <div class="row mb-8">
    <div class="col-6">
      <label class="form-label fw-bolder text-gray-900 fs-6 required">Password</label>
      <input class="form-control" type="password" placeholder="Password" name="password"
        formControlName="password" autocomplete="off" [ngClass]="{
          'is-invalid': f['password'].invalid && f['password'].touched,
          'is-valid': f['password'].valid && f['password'].touched
        }" />
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Password is required',
          control: f['password']
        }"></ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'minlength',
          message: 'Password should have at least 3 symbols',
          control: f['password']
        }"></ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'maxLength',
          message: 'Password should have maximum 100 symbols',
          control: f['password']
        }"></ng-container>
    </div>

    <div class="col-6">
      <label class="form-label fw-bolder text-gray-900 fs-6 required">Confirm Password</label>
      <input class="form-control" type="password" placeholder="Confirm password" name="cPassword"
        autocomplete="off" formControlName="cPassword" [ngClass]="{
          'is-invalid': f['cPassword'].invalid && f['cPassword'].touched,
          'is-valid': f['cPassword'].valid && f['cPassword'].touched
        }" />
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Confirm Password is required',
          control: f['cPassword']
        }"></ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'minlength',
          message: 'Confirm Password should have at least 3 symbols',
          control: f['cPassword']
        }"></ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'maxLength',
          message: 'Confirm Password should have maximum 100 symbols',
          control: f['cPassword']
        }"></ng-container>
      <ng-container *ngIf="
          f['cPassword'].errors &&
          f['cPassword'].errors.ConfirmPassword
        ">
        <div class="fv-plugins-message-container">
          <div class="fv-help-block">
            'Passsword' and 'Confirm Password' didn't match.
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <!--begin::Form group-->
  <div class="row mb-8">
    <div class="col-6">
      <label class="form-label fw-bolder text-gray-900 fs-6 required">Email</label>
      <input class="form-control" type="email" placeholder="Email" name="email" formControlName="email"
        autocomplete="off" [ngClass]="{
          'is-invalid': f['email'].invalid && f['email'].touched,
          'is-valid': f['email'].valid && f['email'].touched
        }" />
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Email is required',
        control: f['email']
      }"></ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'email',
        message: 'Email is invalid',
        control: f['email']
      }"></ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'minlength',
        message: 'Email should have at least 3 symbols',
        control: f['email']
      }"></ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'Email should have maximum 360 symbols',
        control: f['email']
      }"></ng-container>
    </div>

    <div class="col-6">
      <label class="form-label fw-bolder text-gray-900 fs-6 required">Phone Number</label>
      <input class="form-control" type="text" placeholder="Phone Number" name="phoneNumber" formControlName="phoneNumber"
        autocomplete="off" [ngClass]="{
          'is-invalid': f['phoneNumber'].invalid && f['phoneNumber'].touched,
          'is-valid': f['phoneNumber'].valid && f['phoneNumber'].touched
        }" />
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Phone Number is required',
        control: f['phoneNumber']
      }"></ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'Phone Number should have maximum 20 symbols',
        control: f['phoneNumber']
      }"></ng-container>
    </div>
  </div>

  <div class="row mb-8">
    <div class="col-6">
      <label class="form-label fw-bolder text-gray-900 fs-6 required">Plan</label>
      <select class="form-select" formControlName="planCode" [ngClass]="{
        'is-invalid': f['planCode'].invalid && f['planCode'].touched,
        'is-valid': f['planCode'].valid && f['planCode'].touched
      }">
        <option value="">-- Please select --</option>
        <option>Starter</option>
        <option>Basic</option>
        <option>Advanced</option>
        <option>Professional</option>
      </select>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Plan is required',
        control: f['planCode']
      }"></ng-container>
    </div>

    <div class="col-6">
      <label class="form-label fw-bolder text-gray-900 fs-6 required">Selling Country</label>
      <select class="form-select" formControlName="site" [ngClass]="{
        'is-invalid': f['site'].invalid && f['site'].touched,
        'is-valid': f['site'].valid && f['site'].touched
      }">
        <option value="">-- Please select --</option>
        <option value="US">United States</option>
        <option value="UK">United Kingdom</option>
      </select>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Selling Country is required',
        control: f['site']
      }"></ng-container>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <label class="form-label fw-bolder text-gray-900 fs-6">Selling Platforms</label>
      <ejs-multiselect id='txtSellingPlatforms' 
        [dataSource]='platforms' 
        formControlName="sellingPlatforms"
        [ngClass]="{
          'is-invalid': f['sellingPlatforms'].invalid && f['sellingPlatforms'].touched,
          'is-valid': f['sellingPlatforms'].valid && f['sellingPlatforms'].touched
        }"
        mode='Box'>
      </ejs-multiselect>
    </div>
  </div>

  <div class="row mb-8">
    <div class="col-12">
      <label class="form-label fw-bolder text-gray-900 fs-6 required">Billing Address</label>
      <textarea class="form-control" placeholder="Billing Address" name="billingAddress" formControlName="billingAddress"
        autocomplete="off" [ngClass]="{
          'is-invalid': f['billingAddress'].invalid && f['billingAddress'].touched,
          'is-valid': f['billingAddress'].valid && f['billingAddress'].touched
        }"></textarea>
      <span class="text-muted">Please enter full billing address, including billing name/company name</span>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Billing Address is required',
        control: f['billingAddress']
      }"></ng-container>
    </div>
  </div>

  <!--begin::Form group-->
  <div class="fv-row mb-8">
    <label class="form-check form-check-inline">
      <input id="kt_login_toc_agree" type="checkbox" formControlName="agree" name="agree" class="form-check-input" />
      <span for="kt_login_toc_agree" class="form-check-label fw-semibold text-gray-700 fs-base ms-1">
        I Accept the&nbsp;Terms.
      </span>
    </label>
  </div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="d-grid mb-10">
    <button type="submit" id="kt_sign_up_submit" [disabled]="
        registrationForm.invalid || !f['agree'].value
      " class="btn btn-primary">
      <ng-container *ngIf="(isLoading$ | async) === false">
        <span class="indicator-label">Submit</span>
      </ng-container>
      <ng-container *ngIf="isLoading$ | async">
        <span class="indicator-progress" [style.display]="'block'">
          Please wait...
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </ng-container>
    </button>
  </div>
  <!--end::Form group-->

  <!--begin::Sign up-->
  <div class="text-gray-500 text-center fw-semibold fs-6">
    Already have an Account?

    <a routerLink="/auth/login" class="link-primary fw-semibold">
      Sign in
    </a>
  </div>
  <!--end::Sign up-->

</form>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert">
          {{ message }}
        </span>
      </div>
    </div>
  </ng-container>
</ng-template>

} @else {
  <div class="mb-lg-15 alert alert-success">
    <div class="alert-text font-weight-bold">
      Registration successful. Please <a routerLink="/auth/login">login here</a>.
    </div>
  </div>
}