<div class="card card-xl-stretch mb-xl-8" [ngClass]="'bg-' + backgroundColor + ' ' + cssClass">
    <div class="card-body pt-4 pb-4">
        @if(icon) {
            @if(iconCustomColor) {
                <i class="bi fs-2x ms-n1" [ngClass]="icon" [ngStyle]="{color: iconCustomColor}"></i>
            } @else {
                <i class="bi fs-2x ms-n1" [ngClass]="icon + ' text-' + iconColor"></i>
            }
        }        
        
        <div class="fw-bold fs-1 mb-2 mt-5" [ngClass]="'text-' + textColor">           
            {{ value | number:format }}               
        </div>

        <!-- reserve 2 lines for description -->
        <div class="fw-semibold" [ngClass]="'text-' + textColor"
            style="line-height: 1.5rem; height: 3rem; overflow: hidden; text-overflow: ellipsis;">
            {{description}}
        </div>

        @if(isLoading) {
            <div class="widget-loader">
                <span class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </span>
            </div>
        }
    </div>
</div>