<div class="card card-flush h-lg-50 col-3">  
    <!--begin::Header-->
    <div class="card-header pt-5">
        <!--begin::Title-->
        <h3 class="card-title text-gray-800 fw-bold">Settings</h3>
        <!--end::Title-->

        <!--begin::Toolbar-->
        <div class="card-toolbar">            
       
        </div>
        <!--end::Toolbar-->
    </div>
    <!--end::Header-->

    <!--begin::Body-->
    <div class="card-body pt-5">                 
            <!--begin::Item-->
            <div class="">
                <button type="button" class="btn btn-sm btn-light-primary w-100"
                    (click)="openBreakEvenSetting()">
                    Break Even & Profit
                </button>
            </div>
            <!--end::Item-->

            <!--begin::Separator-->
            <div class="separator separator-dashed my-3"></div>
            <!--end::Separator-->
    </div>
    <!--end::Body-->
</div>